apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-receiver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thanos-receiver
  template:
    metadata:
      labels:
        app: thanos-receiver
    spec:
      containers:
        - name: thanos-receiver
          image: bitnami/thanos:latest
          ports:
            - containerPort: 9090